<div {{ block.shopify_attributes }}>
  {%- if product != blank -%}

    <product-form class="product-form">

      {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}

        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
        >

        <div class="product-form__buttons">

          {% if product.tags contains 'request-only' %}

            {%- liquid
              assign request_product = product.title

              if request_product == blank
                assign request_product = product.selected_or_first_available_variant.title
              endif

              if request_product == blank
                assign request_product = 'Product'
              endif
            -%}

            <a
              href="/pages/purchase-request?product={{ request_product | url_encode }}"
              class="product-form__submit button button--full-width button--primary"
            >
              Enquire to Purchase
            </a>

          {% else %}

            <button
              id="ProductSubmitButton-{{ section_id }}"
              type="submit"
              name="add"
              class="product-form__submit button button--full-width button--primary"
              {% if product.selected_or_first_available_variant.available == false %}
                disabled
              {% endif %}
            >
              <span>
                {%- if product.selected_or_first_available_variant.available == false -%}
                  {{ 'products.product.sold_out' | t }}
                {%- else -%}
                  {{ 'products.product.add_to_cart' | t }}
                {%- endif -%}
              </span>
            </button>

          {% endif %}

        </div>

      {%- endform -%}

    </product-form>

  {%- endif -%}
</div>