{% if product.tags contains 'request-only' %}

  <a href="/pages/purchase-request?product={{ product.title }}" 
     class="product-form__submit button button--full-width button--primary">
    Enquire to Purchase
  </a>

{% else %}

  <button
    id="ProductSubmitButton-{{ section_id }}"
    type="submit"
    name="add"
    class="product-form__submit button button--full-width {% if show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}"
    {% if product.selected_or_first_available_variant.available == false
      or quantity_rule_soldout
      or product.selected_or_first_available_variant == null
    %}
      disabled
    {% endif %}
  >
    <span>
      {%- if product.selected_or_first_available_variant == null -%}
        {{ 'products.product.unavailable' | t }}
      {%- elsif product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
        {{ 'products.product.sold_out' | t }}
      {%- else -%}
        {{ 'products.product.add_to_cart' | t }}
      {%- endif -%}
    </span>
    {%- render 'loading-spinner' -%}
  </button>

{% endif %}